<!-- The toolbar of our app -->
<mat-toolbar color="primary">
 <span>Employee Management Crud App</span>
 <span class="example-spacer"></span>
 <button mat-raised-button color="accent" (click)="openAddEditEmployeeDialog()">ADD EMPLOYEE</button>
</mat-toolbar>

<!-- The body of our app -->
<div class="main-body">
    <!-- The filter section -->
    <mat-form-field aria-haspopup="outline">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="i.e David Smith" #input>
    </mat-form-field>
  
    <!-- The employee details table -->
    <div class="table-container">
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
          <td mat-cell *matCellDef="let row"> {{row.id}} </td>
        </ng-container>

        <ng-container matColumnDef="firstName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
          <td mat-cell *matCellDef="let row"> {{row.firstName}}</td>
        </ng-container>
  
        <ng-container matColumnDef="lastName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
          <td mat-cell *matCellDef="let row"> {{row.lastName}}</td>
        </ng-container>
  
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
          <td mat-cell *matCellDef="let row"> {{row.email}}</td>
        </ng-container>
  
        <ng-container matColumnDef="dob">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> DOB </th>
          <td mat-cell *matCellDef="let row"> {{row.dob | date}}</td>
        </ng-container>
  
        <ng-container matColumnDef="gender">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Gender </th>
          <td mat-cell *matCellDef="let row"> {{row.gender}}</td>
        </ng-container>
  
        <ng-container matColumnDef="education">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Education </th>
          <td mat-cell *matCellDef="let row"> {{row.education}}</td>
        </ng-container>
  
        <ng-container matColumnDef="course">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Course </th>
          <td mat-cell *matCellDef="let row"> {{row.course}}</td>
        </ng-container>
  
        <ng-container matColumnDef="semester">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Semester </th>
          <td mat-cell *matCellDef="let row"> {{row.semester}}</td>
        </ng-container>
  
        <ng-container matColumnDef="mobile">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> mobile </th>
          <td mat-cell *matCellDef="let row"> {{row.mobile | currency:'USD'}}L</td>
        </ng-container>
  
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
          <td mat-cell *matCellDef="let row">
            <span (click)="openEditForm(row)" class="action-icon" style="margin-right: 5px;">
              <mat-icon color="primary">edit</mat-icon>
            </span>
            <span (click)="deleteEmployee(row.id)" class="action-icon">
              <mat-icon color="warn">delete</mat-icon>
            </span>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
        <!-- This row will be shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
      </table>
  
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>
  </div>